# python=3.7.4
# spyder=4.1.5
  (plotly) matplotlib==3.1.3
  (tensorflow) SciPy==1.4.1
  (tensorflow) Numpy==1.19.3
 LibROSA==0.7.2    # (audio processing)
 (p) audio-metadata==0.11.0    # (get audio file metadata)
 seaborn==0.10.1
 (p) print-dict==0.1.19    # (dict layout)
 (seaborn) pandas==1.2.3    # (handle table or series data)
 tabulate==0.8.7    # (table layout)
 openpyxl==3.0.7    # (excel io)
 plotly==4.10.0    # (interactive plot)
 (p) kaleido==0.0.3.post1

# tensorflow==2.4.1
# cudnn=8.0.4
# cudatoolkit=11.0
 (conflicts) keras-tuner==1.0.2    # (hypertuning)
 scikit-learn==0.22.2    # (machine learning)
 scikit-image==0.18.1    # (image processing)
 (librosa) numba==0.48.0
 pydot==1.4.1
 (pydot) graphviz  # ==2.38