# python=3.8
# spyder=5.1.1    # Python IDE
# cudnn=8.0.4
# cudatoolkit=11.0

librosa=0.8.1    # audio processing
seaborn=0.11.2
tabulate=0.8.9    # table layout
scikit-image=0.18.3    # image processing
pydot=1.4.2
pandas=1.3.3
tensorflow-deps=2.6.0